<?xml version="1.0"?>
<package format="3">
  <name>{{ model_name }}</name>
  <version>0.0.0</version>
  <description>TODO</description>
  <maintainer email="jane.doe@example.com">Jane Doe</maintainer>
  <license>TODO</license>
  <build_depend>roslaunch</build_depend>
  <buildtool_depend>catkin</buildtool_depend>

  <test_depend>rostest</test_depend>
  <test_depend>unittest</test_depend>
</package>
