{{ request.ros_dtype }} model_in
# Stored as a string because constant arrays aren't possible
string IN_SHAPE={{ request.shape }}

---

{{ response.ros_dtype }} model_out
# Stored as a string because constant arrays aren't possible
string OUT_SHAPE={{ response.shape }}
